<!DOCTYPE html>
<html>
<head>

<title> TO DO </title>

<link rel="stylesheet" type="text/css" href="todo.css">
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript"> 

var app= angular.module('todoApp',[]);
app.controller('todoCtrl',function($scope){
$scope.todoList=[];

 $scope.todoAdd=function(){

 	if (!$scope.todo)
 	{
 		return;
 	}
 	else {
 	$scope.todoList.push({todoText:$scope.todo, done:false});
 	$scope.todo="";
 }
 };

 $scope.remove=function(){
 	var oldlist = $scope.todoList;
 	$scope.todoList=[];
 	angular.forEach(oldlist,function(list){
 		if(!list.done) $scope.todoList.push(list);
 	});
 };

 });

</script>
	
</head>
<body ng-app="todoApp" ng-controller="todoCtrl">

<div id="todo">

<form ng-submit="todoAdd()" name="form">
	<input type="text" ng-model="todo" id="text" name="textbox"> <span> </span>
	<input type="submit" id="btn" ng-disabled="form.textbox.$invalid"> 
</form> <br>

<div id="wrapper">

<div ng-repeat="list in todoList" id="list" >
	<input type="checkbox" ng-model="list.done" id="rad"> <span ng-bind="list.todoText"> </span> 
	
	 <!-- {{list.todoText}} -->	
</div> 

</div> 



</div>



</div> 

<div class="remove">
	<p> <button ng-click="remove()" id="rmv"> Remove </button> </p>
</div>


</body>
</html>